body {
  background: #59CDE9;  /* fallback for old browsers */
background: -webkit-linear-gradient(to left, #1d0303, #270606);  /* Chrome 10-25, Safari 5.1-6 */
background: -webkit-linear-gradient(to left, #1a0303, #0000);  /* Chrome 10-25, Safari 5.1-6 */
background: linear-gradient(to left, #0c0202, #130303); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */


  /* SOLUCIÓN: */
  min-height: 100vh;           /* Fuerza a que el fondo cubra al menos toda la ventana */
  background-attachment: fixed; /* Mantiene el degradado estático mientras haces scroll */
  background-repeat: no-repeat; /* Evita que se divida en bloques */
}

#contentWrap {
 display:  none;


}

.error {
  color : red;

}
.whisper {
  color : grey;
  font-style: italic;
}

